body{
    background-color: darkslategrey;
}

    table, table * {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.czarne_pola{
    background-color: chocolate;
    width: 40px;
    height: 40px;
}
.biale_pola{
    background-color: wheat;
    width: 40px;
    height: 40px;
}
img{
    border: none;
}
